#bg {
	position: fixed; 
	top: 0; 
	left: 0; 
	min-width: 100%;
	min-height: 100%;
}

#bg-box {
	background-color: #99ceff;
	width: 70%;
	height: 90%;
}
.rupee {
	height: 75px;
	width: 75px;
	margin-bottom: 3%;
	margin-top: 2%;
}

.rules {
	align-content: center;
}

.scorebox {
	background-color: #99ceff;
	height: 80px;
	margin-right:3%;
}

.winloss {
	background-color: #99ceff
;
	height: 80px;
	margin-right:3%;
	margin-top: 50px;
}